<div class="app-course">
  <h1>Courses page</h1>

  <div class="entity-list" *ngIf="courses.length; else noCourses">
    <div class="entity-list__header">
      <div class="entity-list__header__text">id</div>
      <div class="entity-list__header__text">name</div>
      <div class="entity-list__header__text">startDate</div>
      <div class="entity-list__header__text">endDate</div>
    </div>

    <div class="entity-list__item"
         *ngFor="let course of courses"
         (click)="showCoursePage()"
    >
      <!--
        showCoursePage - выплывающее меню, где в полях формы введены данные о курсе
        и есть кнопки: update, delete и Х (закрыть выплывающее меню)
      -->
      <div class="entity-list__item__text">{{course.id}}</div>
      <div class="entity-list__item__text">{{course.name}}</div>
      <div class="entity-list__item__text">{{course.startDate | date}}</div>
      <div class="entity-list__item__text">{{course.endDate | date}}</div>
    </div>
  </div>

  <ng-template #noCourses>
    <div>No courses found.</div>
  </ng-template>
</div>
