<!--<div class="info-panel-wrapper clr-bg-op"  (click)="onClosePanel()" *ngIf="visible" >-->

    <!--<div class="info-panel clr-bg-w" (click)="stopPropogation($event)"-->
         <!--[@slideToggle]="slideToggleExpression"-->
         <!--(@slideToggle.done)="slideToggleDone($event)"-->
    <!--&gt;-->
        <!--<div class="info-panel__inner">-->

            <!--<div class="info-panel__close" (click)="onClosePanel()"></div>-->

            <!--<ng-content></ng-content>-->

        <!--</div>-->
    <!--</div>-->

<!--</div>-->
