@import "shared-styles/colors";
@import "shared-styles/fonts";

.app-component {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  font-family: @main-font;
  color: @text-dark;

  .nav-bar {
    display: flex;
    flex-direction: row;
    background-color: @main-dark;
    color: @text-light;
    position: fixed;
    width: 100%;
    z-index: 100;

    &__item {
      display: flex;
      padding: 15px;
      cursor: pointer;

      &:hover {
        background-color: @highlight-dark;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 0 10%;
  }
}
